@import "../../styles/variables";

.btn {
  background: $color-assets;
  color: $color-white;
  border: 0;
  border-radius: 3px;
  padding: 8px 15px;
  cursor: pointer;
  transition: $transition;
  @media all and (hover: hover) {
    &:hover {
      background: $color-assets-hover;
    }
  }
  &:active {
    background: $color-assets-active;
  }
}