@import "../../../styles/variables";
.basket {
  &Product {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 10px 30px 10px 0;
    border-bottom: 1px solid $color-text;
    position: relative;

    &:first-child {
      border-top: 1px solid $color-text;
    }

    @media screen and (max-width: 575px){
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &Img {
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
    display: flex;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
  }

  &Title {
    width: 50%;

    @media screen and (max-width: 575px){
      font-size: 14px;
      width: calc(100% - 90px);
    }
  }

  &Prise {
    width: 20%;
    text-align: center;
  }

  &Delete {
    margin-left: auto;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    padding: 3px;
    background: transparent;
    border: 0;
    transform: rotate(45deg);
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;

    @media all and (hover: hover) {
      &:hover {
        svg {
          fill: $color-assets-hover;
        }
      }
    }
    &:active {
      svg {
        fill: $color-assets-active;
      }
    }
  }
}