$color-text: #000;
$color-white: #fff;
$color-assets: #1890ff;
$color-assets-hover: #1d80da;
$color-assets-active: #1f5486;


$transition-time: 0.3s;
$transition: all $transition-time ease;

$font-size: 16px;

